body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

mypic{
  display: flex;
  margin-top : 4;
}
.mypic img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  text-align: left;
  justify-content: start;
}

.myintro h4{
  text-align: right;
  font-style: italic;
  justify-content: end;
}

.myprofile{
  justify-content: start;
}

.form{
  border: 1px solid blue;
  padding: 1rem;
  margin : 1rem;
}


.form input{
  display: block;
  margin: 1rem 0;
}

.form textarea{
  display: block;
  margin: 1rem 0;
}

.form button{
  display: block;
  margin: 1rem 0;
}

